.menu>li{
    display: inline-block;
    position: relative;
}
.submenu{
    position: absolute;
    top: 15px;
    left: 0;
    display: none;
}
.menu>li:hover .submenu{display: block;


}
.cabecera{
    width: 100%;
    height: 60px;
    background-color: blue;

}
